<%= error_messages_for 'document' %>
<div class="box">
  <!--[form:document]-->

  <p><label for="pad_title"><%=l(:field_title)%> <span class="required">*</span></label>
    <%= text_field 'pad', 'title', :size => 60 %></p>

  <!--[eoform:document]-->
</div>
