<% content_for :header_tags do %>
    <%= javascript_include_tag('etherpad.js', :plugin => 'chiliproject_etherpad') %>
<% end %>

<div id="pad" style="min-height: 500px"></div>


<script>
    var userName = '<%=@user_name %>';
    var projectId = '<%=@target_pad %>';
    var padHost = '<%=@pad_host %>';
    jQuery('#pad').pad({'padId':projectId,'width':'100%', 'height':'700px', 'userName': userName, 'host': padHost });
</script>